extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
    label(for='client') Client:
    select#client.form-control(type='select' placeholder='Select client' name='client' required='true' )
      for client in clients
        if note
          //- Handle GET form, where note.client is an object, and POST form, where it is a string.
          option(
            value=client._id
            selected=(
              client._id.toString()==note.client._id
              || client._id.toString()==note.client
            ) ? 'selected' : false
          ) #{client.name}
        else
          option(value=client._id) #{client.name}

    div.form-group
      label(for='note') Summary:
      textarea#note.form-control(type='textarea', placeholder='Note' name='note' rows='3' required='true') #{undefined===note ? '' : note.note}
    div.form-group
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
